
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!gradle-wrapper.jar
!ng-uikit-pro-standard-8.2.0.tgz
$RECYCLE.BIN/
**.swp
**/.asscache
**/.awcache
**/.classpath
**/.groovy/
**/.project
**/.sass-cache/
**/.settings/
**/bin/
**/build/
**/frontends/**/dist
**/grails-app/assets/vendor/
**/node_modules
**/pg_data/
**/src/assets/vendor
**/target/
**/work/
**~
*.bak
*.cab
*.class
*.classlombok_installer_WindowsDriveInfo.o
*.ctxt
*.DS_Store
*.ear
*.elc
*.iws
*.jar
*.launch
*.lnk
*.log
*.markdown.html
*.msi
*.msix
*.msm
*.msp
*.pid
*.pid.lock
*.pydevproject
*.rel
*.retry
*.seed
*.stackdump
*.sublime-workspace
*.swp
*.tgz
*.tmp
*.war
*_archive
*_flymake.*
*Db.properties
*Db.script
*~
*~.nib
.\#*
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.apt_generated
.apt_generated/
.attach*
.attach_*
.attach_pid*
.autotools
.buildpath
.c9/
.cache
.cache-main
.cask/
.classpath
.com.apple.timemachine.donotpresent
.cproject
.dir-locals.el
.directory
.DocumentRevisions-V100
.DS_Store
.env
.eslintcache
.externalToolBuilders/
.factorypath
.fseventsd
.fuse_hidden*
.gradle
.gradle/
.gradletasknamecache
.grunt
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint
.idea_modules/
.loadpath
.lock-wscript
.LSOverride
.metadata
.molecule
.mtj.tmp/
.netrwhist
.next
.nfs*
.node_repl_history
.npm
.nyc_output
.org-id-locations
.project
.projectile
.recommenders
.recommenders/
.scala_dependencies
.settings/
.Spotlight-V100
.springBeans
.target
.TemporaryItems
.tern-project
.texlipse
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode/*
.worksheet
.yarn-integrity
.~lock*
/*.launch
/*.war
/*.zip
/.apt_generated/
/.classpath
/.emacs.desktop
/.emacs.desktop.lock
/.factorypath
/.idea
/.project
/.sass-cache
/.settings
/auto/
/bin
/build
/build/
/connect.lock
/coverage
/debug
/dist
/e2e/*.js
/e2e/*.map
/eclipse.location
/elpa/
/eshell/history
/eshell/lastdir
/findbugsReport.html
/google.properties
/ivyCache
/junit*.properties
/lib
/libpeerconnection.log
/logs
/lombok.iml
/node_modules
/out
/out-tsc
/plugin.xml
/plugins
/pom.xml**/work/
/prodDb.*
/server/
/ssh.configuration
/stacktrace.log
/target
/test/reports
/testenvironment.properties
/tgt
/tmp
/typings
/web-app/plugins
/web-app/WEB-INF/classes
/website/lombokSupporters
/workspace.xml
/workspace.xml.attach*
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
\#*\#
__pycache__
ansible-*
ansible.tar.bz2
ansible/
api
atlassian-ide-plugin.xml
auto-save-list
bin/
bower_components
build
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dist/
Dockerfile.*
ehthumbs.db
ehthumbs_vista.db
fabric.properties
flycheck_*.el
global_roles
gradle-app.setting
hs_err_pid*
Icon
jspm_packages
jspm_packages/
lib-cov
local.properties
log/
logs
Network Trash Folder
node_modules
node_modules/
npm-debug.log
npm-debug.log*
out/
pids
requirements.yml
Session.vim
tags
temp/
temporal_references/
Temporary Items
testem.log
Thumbs.db
tmp/
tramp
typings/
WindowsDriveInfo-i386.dll
WindowsDriveInfo-x86_64.dll
WindowsDriveInfo.dll
workdir
yarn-debug.log*
yarn-error.log*

